<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>AgioMoney | Empréstimo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/areaClient.css">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&family=PT+Serif:wght@700&display=swap" rel="stylesheet">

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    
    <nav>
        <div class="pt-4 pb-2 container align-items-center flex-row d-flex justify-content-between">
          <a th:href="@{/client/home}">
            <h5 class="text-white">AgioMoney</h5>
          </a>
    
          <div class="d-flex flex-row gap-4">
            <a th:href="@{/}">
              <p class="text-white">Sair</p>
            </a>
          </div>
      </div>
    </nav>

  <main class="container d-flex justify-content-center vh-100 align-self-center align-items-center">
    <div class="card">
        <div class="card__header" style="display: flex; align-items: baseline; justify-content: space-between;">
            <div style="display: flex; gap: 10px">
                <p>Área Cliente</p>
                <p>.</p>
                <p>Empréstimo</p>
            </div>

			<a th:href="@{/client/home}">
	            <button class="btn btn-primary buttonPatternOne">
	                Voltar
	            </button>
            </a>
        </div>

		<form th:action="@{/client/loan}" method="post">
	        <div class="mt-2 row">
	        	<div class="col-md-3">
		        	<label>Valor do empréstimo</label>
		            <input type="text" name="value" th:value="${value}" class="form-control inputPatternOne" />
		            <span class="text-danger" th:text="${error}">
	        			Erro no nome
	        		</span>
	            </div>
	            <div class="col-md-2">
		        	<label>Parcelas</label>
		        	
		            <select name="installments" class="form-select inputPatternOne">
		            	<option value="3">3x</option>
		            	<option value="6">6x</option>
		            	<option value="12">12x</option>
		            	<option value="24">24x</option>
		            </select>
	            </div>
	            <div class="mt-3 col-md-12">
	            	<button class="btn btn-primary buttonPatternOne">
		                Verificar
		            </button>
	            </div>
	        <div>
	   	</form>

		<div style="overflow-y: auto; height: 390px; overflow-x: hidden;">
		
		   	<div class="mt-5" th:each="loan : ${loans}">
		   		<form th:action="@{/client/loan/contract}" method="post">
		   		
		   			<input type="hidden" name="companyId" th:value=*{loan.company.code} />
		   			<input type="hidden" name="installments" th:value=*{loan.installments} />
		   			<input type="hidden" name="total" th:value=*{loan.total} />
		   		
			   		<div class="row">
			   			<div class="col-md-4">
			   				<h4 th:text="*{loan.company.name}">bank</h4>
			   				<p>Parcelas: <span th:text="*{loan.installments}"></span> X R$ <span th:text="*{#numbers.formatDecimal(loan.total / loan.installments, 0, 'POINT', 2, 'COMMA')}"></span></p>
			   			</div>
			   			<div class="col-md-6 text-end">
			   				<p class="m-0">Taxa de juros: <span th:text="*{loan.company.tax}">taxa de juros aqui</span> a.a</p>
			   				<p class="pt-1 m-0" style="font-size: 22px;">Total: R$ <span th:text="*{#numbers.formatDecimal(loan.total, 0, 'POINT', 2, 'COMMA')}">Total</span></p>
			   			</div>
			   			<div class="col-md-2 text-end pe-5">
			   				<button type="submit" class="btn btn-primary buttonPatternOne">
				                Selecionar
				            </button>
			   			</div>
			   		</div>
			   		
			   		<hr style="margin-top: 0">
		   		</form>
		   	</div>
		   	
	   	</div>
	   	
    </div>
  </main>

  <div class="imageFloating">
    <img src="/images/porquinho.png" alt="desenho porquinho de guardar dinheiro"/>
  </div>

</body>
</html>
