:root{
    --main-color: #9046CF;
}

body{
    background-image: url('../images/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100vh;
    overflow-x: hidden;
}

*{
    font-family: 'Inter', sans-serif;
}

a{
    text-decoration: none;
}

nav{
    position: fixed;
    width: 100%;
}

nav h5{
    font-size: 28px;
    font-family: 'PT Serif', serif;
    font-weight: 700;
}

nav p{
    margin: 0;
    cursor: pointer;
}

nav p:hover{
    opacity: .6;
}

.inputPatternOne{
    height: 50px;
    border-radius: 8px;
}

.buttonPatternOne{
    height: 50px;
    background-color: #9046CF;
    border-radius: 12px;
    color: white;
    border: 0;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.buttonPatternOne:hover, .buttonPatternOne:active, .buttonPatternOne:focus{
    box-shadow: none;
    background-color: #9046CF;
    opacity: .6;
}